.git
.gitignore
.env

node_modules
**/node_modules

**/dist
**/.next
**/coverage
**/*.log

mobile/.dart_tool
mobile/build

fabric/network/organizations
fabric/network/channel-artifacts
fabric/network/credentials
fabric/network/*.tgz